*{
    padding: 0;
    margin: 0;
}
.country-lists{
    position: relative;
    display: flex;
    gap: 8px;
    padding: 8px;
    border-bottom: solid 1px rgb(201, 198, 198);
    border-top: solid 1px rgb(201, 198, 198);
    overflow-y: hidden;
}
.country-lists::-webkit-scrollbar{
    display: none;
}
.country-lists button{
    padding-left: 15px;
    padding-right: 15px;
    border: solid 1px rgb(161, 158, 158);
    border-radius: 17px; 
}
.country-lists button:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}