.links-wrapper{
float: left;

}
.nav-txt{
padding-left: 16px;
color: black;
}
.more{
    padding: 4px;
}
.nav-txt2{
    padding-left: 3px;
    color: black;
}
.links li,.links-md li{
    list-style: none;
    padding-top: 7px;
    padding-left:0px;
}
.links a,.links-md a{
    text-decoration: none;
    color: black ;
    font-size: small;
}
.links a{
    padding-left: 16px;
}
.links img,.links-md img{
    margin-top:3px ;
    height: 23px;
    margin-right: 15px;
}
.links-md img{
    margin-left: 24px;
}
.links{
    padding: 0px;
  width: 230px;
  height: auto;
}
.links-md{
    padding: 0px;
    width: 80px;
  height: auto;
}
.title{
    color: rgb(96, 93, 93);
    padding-left: 25px;
    padding-top: 4px;
    font-size: small;
    margin-bottom: 0px;
}